@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="css/chat.css">

<h1>Crap GPT</h1>
<div id="chat-container">
    <div id="chat-display"></div>
    <div id="input-container">
        <input type="text" id="message-input" placeholder="Type your message..." />
        <button id="send-button" onclick="sendMessage()">Send</button>
    </div>
</div>

<script>
    const chatDisplay = document.getElementById('chat-display');
    const messageInput = document.getElementById('message-input');

    // Handle Enter key press
    messageInput.addEventListener('keydown', (event) => {
        if (event.key === 'Enter') {
            sendMessage();
        }
    });

    async function sendMessage() {
        let message = messageInput.value.trim();

        if (!message) 
            return;

        addMessage("You", message);

        disableChatInput();
        let response = await sendMessageToServer(message);
        enableChatInput();
        clearChatInput();

        addMessage("AI", response.reply, response.thought);
    }

    async function sendMessageToServer(message) {
        let response = await fetch('api/chat', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(message)
        });

        if (!response.ok)
            throw new Error('Network response was not ok');

        return await response.json();
    }

    function addMessage(user, message, thought) {
        var time = new Date().toTimeString().split(' ')[0];

        var msg = document.createElement("div");
        msg.classList.add("message");
        msg.classList.add(user == "AI" ? user : "user");

        if(thought && thought.length > 0) {
            msg.innerHTML  =`
                <label>${user}:</label>
                <div class="content">
                    <div class="thought">Thought:\n${thought}</div>
                    <div class="reply">${message}</div>
                </div>`;
        }
        else {
            msg.innerHTML  =`
                <label>${user}:</label>
                <div class="content">
                    <div class="reply noThought">${message}</div>
                </div>`;
        }

        chatDisplay.appendChild(msg);
        chatDisplay.scrollTop = chatDisplay.scrollHeight;
    }

    function clearChatInput() {
        messageInput.value = '';
    }

    function disableChatInput() {
        messageInput.disabled = true;
    }

    function enableChatInput() {
        messageInput.disabled = false;
    }
</script>