@{
    ViewData["Title"] = "Markets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tree-container {
        height: 100vh;
        overflow-y: auto;
        border-right: 1px solid #ccc;
        padding: 10px;
    }

    .chart-container {
        height: 100vh;
        overflow-y: auto;
        padding: 10px;
    }

    canvas {
        max-height: 300px;
        width: 100%;
    }

    ul {
        list-style-type: none;
        padding-left: 20px;
    }

    li {
        margin: 5px 0;
    }

    span {
        user-select: none;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- Left: Tree View -->
        <div class="col-4 tree-container">
            <h3>Market Explorer</h3>
            <ul id="market-tree"></ul>
        </div>

        <!-- Right: Charts -->
        <div class="col-8 chart-container">
            <h3>Price Charts</h3>
            <p id="no-selection">Select an epic from the tree to view charts.</p>
            <div id="charts" class="row" style="display: none;">
                <div class="col-6"><canvas id="chart-day"></canvas></div>
                <div class="col-6"><canvas id="chart-hour"></canvas></div>
                <div class="col-6"><canvas id="chart-minute"></canvas></div>
                <div class="col-6"><canvas id="chart-second"></canvas></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/markets.js" defer></script>